<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>
<body>
    <div class="content">
        <label class="title-label">ADD USER</label>
        <form id="userForm" method="post">
            <div class="input-group">
                <label for="name">NAME</label>
                <input type="text" id="name" name="name">
            </div>
            <div class="input-group">
                <label for="lastname">LAST NAME</label>
                <input type="text" id="lastname" name="lastname">
            </div>
            <div class="button-container">
                <button type="submit">ADD</button>
            </div>
        </form>
        <div id="userList">
            <h3>USER LIST</h3>
            <ul id="userRows"></ul>
        </div>
    </div>
    <script>
        const form = document.getElementById('userForm');
        const userList = document.getElementById('userRows');

        form.addEventListener('submit', function(event) {
            event.preventDefault();

            const name = document.getElementById('name').value;
            const lastName = document.getElementById('lastname').value;

            const listItem = document.createElement('li');
            listItem.textContent = `${name} ${lastName}`;

            userList.appendChild(listItem);

            form.reset();
        });
    </script>
</body>
</html>